<footer class="footer">© 2021 <span class="d-none d-sm-inline-block">make by <i class="mdi mdi-heart text-danger"></i> LDK SOFTWARE </span>.</footer>
</div>
    <!-- jQuery  -->
    <script src="../../../../template/admin/vertical/assets/js/jquery.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/metisMenu.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/jquery.slimscroll.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/waves.min.js"></script>
    <script src="../../../../template/admin/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <script src="../../../../template/admin/plugins/morris/morris.min.js"></script>
    <script src="../../../../template/admin/plugins/raphael/raphael-min.js"></script>
    <script src="../../../../template/admin/vertical/assets/pages/dashboard.js"></script>
    <script src="../../../../template/admin/vertical/assets/js/app.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js"></script>
    <!-- <script type="text/javascript" src="../../../../template/admin/fancybox/jquery.fancybox.pack.js"></script> -->
	<script src="../../../../template/admin/plugins/moment/moment.js"></script>

    <!-- RANGE -->
	<!-- Data Tables -->
	<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<!-- <script src="../../../../template/admin/plugins/datatables/dataTables.min.js"></script>
	<script src="../../../../template/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script> -->

    <script src="../../../../template/admin/plugins/select2/js/select2.min.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>
    <script src="../../../../template/admin/plugins/ion-rangeslider/ion.rangeSlider.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/pages/rangeslider-init.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="../../../../template/admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <!-- Plugins Init js -->
    <script src="../../../../template/admin/vertical/assets/pages/form-advanced.js"></script>
    <!-- <script src="../../../../template/Summernote/summernote.js"></script>-->
    <script src="../../../../template/admin/plugins/x-editable/js/bootstrap-editable.min.js"></script>
    <script src="../../../../template/admin/vertical/assets/pages/xeditable.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdn.tiny.cloud/1/mnhe8mkhfadk24d7pbtvd880370fc3jyxr34fxx0csiks0gt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

	<!-- lightgallery -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.10.0/js/lightgallery.min.js" integrity="sha512-gDBgGPXSeC2hx1W3S1CfSHbAValtLI8OArTGf0UVX7Fwb9Ak7HUE3LK9UEZxKGYVrIe0CJUVZDk9B2dIPwJ6VQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lg-zoom/1.3.0/lg-zoom.js" integrity="sha512-D6MkrX5d4oidcCMf03tIq1FD9UDZ/A7J6Av08vBUd8+8mI7jDq5PB7J2w/U6FdMBiqgrbdTufmtesTB17N+9YA==" crossorigin="anonymous"></script>
	
	<!-- SELECT 2 -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous"></script> -->
	
	<!-- CLEAVE JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js" integrity="sha512-SvgzybymTn9KvnNGu0HxXiGoNeOi0TTK7viiG0EGn2Qbeu/NFi3JdWrJs2JHiGA1Lph+dxiDv5F9gDlcgBzjfA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<!-- moment -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="../../../../template/admin/plugins/dropzone/dist/dropzone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="../../../../template/admin/js/cleave.min.js"></script>
    <script>
        $(document).ready(function(){
            // $('.fancybox').fancybox(); 
        })
    </script>
        }
    </script>
	// <!-- END SLIDE RANGE -->
    <script src="../../../../template/toastr/index.js"></script>
	<script src="../../../../template/admin/js/common.js"></script>

    <!-- FILE POND GALLERY -->
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <!-- <script src="https://unpkg.com/filepond-plugin-image-validate-size/dist/filepond-plugin-image-validate-size.js"></script> -->
    <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>

</body>
</html>
